#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of Popular Data Science Languages
- List of Commonly Used Data Science Libraries 
- Table of Data Science tools
- Evaluating Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools |
| ----- |
| JupyterNotebook |
| Apache Spark |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python
 
Addition: 2 + 3 evaluates to 5.
Subtraction: 10 - 5 evaluates to 5.
Multiplication: 4 * 6 evaluates to 24.
Division: 10 / 3 evaluates to 3.3333333333333335.

In [9]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
result = (200)/ 60
result

3.3333333333333335

## Author
Mihika Desai